<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accordion" version="1.0.0" targetFramework="net472" />
  <package id="DW.WPFToolkit" version="5.8.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Git" version="1.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="Toolkit.WPF" version="1.0.5752.30721" targetFramework="net472" />
  <package id="WPFtoolkitFramework" version="1.0.7.5" targetFramework="net472" />
</packages>